#desenvolvendo{
    width: auto; 
    height: 76.5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

#desenvolvendo img {
    display: block;
    margin: 0 auto;
    border: 0cm;
    padding-bottom: 3rem;
  }

.warning-text {
    color: #0049A6;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }

.bg-custom-yellow {
  background-color: #F3A310;
  color: #0049A6;
  text-decoration: none;
  }