<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar responsivo</title>
    <link rel="stylesheet" href="nav-bar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">
</head>
<body>

    <!-- Componente Navbar pré-formatado -->
    <header class="header" id="header">
        <nav class="navbar-container">
            <a href="../assets/Home.html">
                <img class="navbar-img" src="../assets/img/logo-com-titulo.png" alt="Logo do Calendário Escolar ETEPD">
            </a>
            <div class = "nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="../assets/Home.css" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contato</a>
                    </li>
                </ul>
            
            </div>
            <div class="nav-btn">
                <ul>
                    <li class="nav-btn-link" >
                        <a href="../assets/login.html">Login</a>
                    </li>
                    <li class="nav-btn-fantasma" >
                        <a href="../assets/cadastro.html">Cadastre-se</a>
                    </li>
                </ul>
            </div>
            <div class="menu-hamburguer"></div>
        </nav>
    </header>
</body>
</html>             