<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer em HTML e Css Puro</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>

    <main>
        <h1>Footer</h1>
    </main>

    
   <footer class="footer-section">
       <div class="footer-col">
           <h4>Apoio Institucional</h4>
           <div class="footer-img-container">
            <img src="../assets/img/logo-etepd.png" id="ete" alt="Logo ETEPD">
           <img src="../../agenda-digital-com-bootstrap/assets/img/Logo-Governo-PE.png" id="gov" alt="Logo Governo de Pernambuco">
           </div>
        </div>
        <div class="footer-col">
            <div class="foot-link">
                <h4>Links Permanentes</h4>
                <ul>
                    <li>
                        <a href="">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright©2023 Todos os direitos reservados por ETEPD </p>
        </div>
    </footer>
</body>
</html>