<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
   <footer class="foot-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <img src="logo etepd 1.png" id="ete" alt="">
            <img src="Educação-e-Esporte 1.png" id="gov" alt="">
            <div class="foot-link">
                <ul>
                    <li><a href="">Sobre Nós</a></li>
                    <li><a href="">Feedback</a></li>
                </ul>
            </div>
        </div>

    </div>
            
    </footer>
</body>
</html>