<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente formulário</title>

    <link rel="stylesheet" href="forms.css">
</head>
<body>
    <section class="forms">
        <div class="main-login">
            <div class="login-esquerda-forms">
                <div class="card-login">
                    <div class="title">
                        <h1>Título da página</h1>
                    </div> 
                    <div class="textfield">
                        <label for="e-mail">Digite seu e-mail:</label>
                        <input type="text" name="e-mail" placeholder="Msrs@etepd.com">
                    </div> 
                    <div class="textfield">
                        <label for="cpf">CPF:</label>
                        <input type="number" name="cpf" placeholder="123.654.785-59">
                    </div> 
                    <div class="textfield">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" placeholder="Senha">
                    </div> 
                    <button class="btn-login">Login</button>
                </div>
            </div>
            <div class="login-direita-img">
                <img src="../assets/img/recuperar-senha.png" alt="Desenho de boneco que esqueceu a senha">

            </div>
        </div>
    </section>
    
</body>
</html>