@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #0049A6;
}

.navbar-container {
    position: relative;
    height: 7.5rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}