<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar responsivo</title>
    <link rel="stylesheet" href="nav-bar.css">
</head>
<body>
<header>
    <nav class="navbar">
        <img class="navbar-img" src="../assets/img/logo-com-titulo.png" alt="Calendário Escolar ETEPD">
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Contato</a></li>
            <li class="botao" ><a href="#">Login</a></li>
            <li class="botao" ><a href="#">Cadastre-se</a></li>
          
        </ul>
    </nav>
</header>
</body>
</html>