<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar responsivo</title>
    <link rel="stylesheet" href="nav-bar.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="forms.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">
</head>
<body>

    <!-- Componente Navbar pré-formatado -->
    <header class="header" id="header">
        <nav class="navbar-container">
            <a href="../assets/Home.html">
                <img class="navbar-img" src="../assets/img/logo-com-titulo.png" alt="Logo do Calendário Escolar ETEPD">
            </a>
            <div class = "nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="../assets/Home.css" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contato</a>
                    </li>
                </ul>
            
            </div>
            <div class="nav-btn">
                <ul>
                    <li class="nav-btn-link" >
                        <a href="../assets/login.html">Login</a>
                    </li>
                    <li class="nav-btn-fantasma" >
                        <a href="../assets/cadastro.html">Cadastre-se</a>
                    </li>
                </ul>
            </div>
            <div class="menu-hamburguer"></div>
        </nav>
    </header>

    <main>
        <section class="forms">
            <div class="main-login">
                <div class="login-esquerda-forms">
                    <div class="card-login">
                        <div class="title">
                            <h1>Título da página</h1>
                        </div> 
                        <div class="textfield">
                            <label for="e-mail">Digite seu e-mail:</label>
                            <input type="text" name="e-mail" placeholder="Msrs@etepd.com">
                        </div> 
                        <div class="textfield">
                            <label for="cpf">CPF:</label>
                            <input type="number" name="cpf" placeholder="123.654.785-59">
                        </div> 
                        <div class="textfield">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" placeholder="Senha">
                        </div> 
                        <button class="btn-login">Login</button>
                    </div>
                </div>
                <div class="login-direita-img">
                    <img src="../assets/img/recuperar-senha.png" alt="Desenho de boneco que esqueceu a senha">
    
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-section">
        <div class="footer-col">
            <h4>Apoio Institucional</h4>
            <div class="footer-img-container">
             <img src="../assets/img/logo-etepd.png" id="ete" alt="Logo ETEPD">
            <img src="../../agenda-digital-com-bootstrap/assets/img/Logo-Governo-PE.png" id="gov" alt="Logo Governo de Pernambuco">
            </div>
         </div>
         <div class="footer-col">
             <div class="foot-link">
                 <h4>Links Permanentes</h4>
                 <ul>
                     <li>
                         <a href="">Sobre Nós</a>
                     </li>
                     <li>
                         <a href="">Feedback</a>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="copyright">
             <p>Copyright©2023 Todos os direitos reservados por ETEPD </p>
         </div>
     </footer>
</body>
</html>             