@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.flex {
    background-color: #183394;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    height: 112px;
}
.flex img {
    margin-left: 90px;
}

.nav-link {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10vh;
    padding: 68px;
}

ul.nav-link li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box form {
    margin-top: 10vh;
    margin-left: 30vh;
}
.box h1{
    font-size: 30px;
    text-align: center;
}
.input-box {
    position: relative;
    margin: 50px 0;
    width: 310px;
    border-bottom: 1px solid black;
}
.input-box span {
    position: absolute;
    top: 1%;
    left: 2px;
    margin-top: -4px;
    transform: translateY(-50%);
    color: black;
}
.input-box input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { /*tira as setas do numeros*/
    -webkit-appearance: none; margin: 0; 
}
.btn-ret {
    position: absolute;
    top: 70%;
    margin-left: 29vh;
    margin-top: 20px;
}
.btn-ret button {
    background-color: #F3A310;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 8px 120px;
    font-size: 16px;
    border-radius: 13px;
}
.btn-ret a {
    color: #F3A310;
    display: flex;
    justify-content: center;
    padding: 16px;

}
.foto {
    margin-top: 10vh;
    margin-right: 140px;
}

.foot-box {
    background-color: #F3A310;
    height: 120px;    
}
.foot-box img#ete {
    padding: 10px;
    margin-left: 173px;
}
.foot-box img#gov {
    padding: 0 103px;
}

.foot-link ul {
    margin-top: -9vh;
    list-style: none;
}
.foot-link ul li {
    display: inline-block;
    float: right;  
    padding: 0 50px;  
}
.foot-link ul li a{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
main {
    height: 15vh;
}
